{% load static %}

<div class="sidebar-menus bg-white dark:bg-slate-800 py-2 px-4 h-[calc(100%-80px)] overflow-y-auto z-50" id="sidebar_menus">
    <ul class="sidebar-menu">
        <li class="sidebar-menu-title">MENU</li>
        <li class="">
        <a href="#" class="navItem">
            <span class="flex items-center">
        <iconify-icon class=" nav-icon" icon="heroicons-outline:home"></iconify-icon>
        <span>Home</span>
            </span>
        </a>
        </li>
        <li class="sidebar-menu-title">APP</li>
        <li class="">
            <a href="javascript:void(0)" class="navItem">
              <span class="flex items-center">
            <iconify-icon class=" nav-icon" icon="heroicons-outline:document"></iconify-icon>
            <span>Projects</span>
              </span>
              <iconify-icon class="icon-arrow" icon="heroicons-outline:chevron-right"></iconify-icon>
            </a>
            <ul class="sidebar-submenu">
              <li>
                <a href="{% url "project_list" %}" {% if request.get_full_path == "/projects/list" %}class="active"{% endif %}>Projects List</a>
              </li>
              <li>
                <a href="{% url "project_add" %}" {% if request.get_full_path == "/projects/create" %}class="active"{% endif %}>Add Project</a>
              </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:void(0)" class="navItem">
              <span class="flex items-center">
            <iconify-icon class=" nav-icon" icon="heroicons-outline:document"></iconify-icon>
            <span>Tasks</span>
              </span>
              <iconify-icon class="icon-arrow" icon="heroicons-outline:chevron-right"></iconify-icon>
            </a>
            <ul class="sidebar-submenu">
              {% for project in project_names %}
              <li>
                <a href="{% url "tasks_list" project.id %}" >Project {{ project.name }} Tasks</a>
              </li>
              {% endfor %}
            </ul>
        </li>
        <li class="">
            <a href="javascript:void(0)" class="navItem">
              <span class="flex items-center">
            <iconify-icon class=" nav-icon" icon="heroicons-outline:document"></iconify-icon>
            <span>Comments</span>
              </span>
              <iconify-icon class="icon-arrow" icon="heroicons-outline:chevron-right"></iconify-icon>
            </a>
            <ul class="sidebar-submenu">
              {% for project in project_names %}
                {% for task in project.tasks %}
                <li>
                  <a href="{% url "tasks_list" project.id %}">Task {{ task.name }} Comments</a>
                </li>
                {% endfor %}
              {% endfor %}
            </ul>
        </li>
    </ul>
</div>