{% load static %}

<div class="sidebar-menus bg-white dark:bg-slate-800 py-2 px-4 h-[calc(100%-80px)] overflow-y-auto z-50" id="sidebar_menus">
    <ul class="sidebar-menu">
        <li class="sidebar-menu-title">MENU</li>
        <li class="">
        <a href="#" class="navItem active">
            <span class="flex items-center">
        <iconify-icon class=" nav-icon" icon="heroicons-outline:home"></iconify-icon>
        <span>Home</span>
            </span>
        </a>
        </li>
        <li class="sidebar-menu-title">APP</li>
        <li class="">
            <a href="javascript:void(0)" class="navItem">
              <span class="flex items-center">
            <iconify-icon class=" nav-icon" icon="heroicons-outline:document"></iconify-icon>
            <span>Projects</span>
              </span>
              <iconify-icon class="icon-arrow" icon="heroicons-outline:chevron-right"></iconify-icon>
            </a>
            <ul class="sidebar-submenu">
              <li>
                <a href="project.html">Projects List</a>
              </li>
              <li>
                <a href="project-details.html">Add Project</a>
              </li>
            </ul>
        </li>
    </ul>
</div>